
/* Carrusel */
.contenedor-slider {
    width: 100vw;
    height: 60vh;
    margin: 0;
    overflow: hidden;
    position: relative;
  }
  
  .slider {
    display: flex;
    width: 400%; /* Asegura que todas las imágenes se puedan mover */
    height: 100%;
    margin-left: -100%; /* Inicia el carrusel en la posición correcta */
  }
  
  .slider--section {
    width: 100%;
    height: 100%;
  }
  
  .slider--img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que las imágenes cubran todo el contenedor */
  }
  
  /* Botones de navegación */
  .slider--btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider--btn:hover {
    background: #fff;
  }
  
  .slider--btn--left {
    left: 10px;
  }
  
  .slider--btn--right {
    right: 10px;
  }
  
  /* Presentación */
  .presentacion {
    text-align: center;
    color: rgb(27, 22, 22);
    font-size: 1.5rem;
    padding: 60px 10px 80px;
    letter-spacing: 2px;
  }
  
  .presentacion p {
    padding-top: 50px;
  }
  
  /* Tratamientos */
  #tratamientos {
    padding: 50px 20px; /* Espaciado alrededor de la sección */
    background-color: #f1f7fa;
  }
  
  #tratamientos h2 {
    text-align: center;
    color: rgb(12, 11, 11);
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
  
  /* Contenedor de tratamientos */
  #tratamientos .cont-tratamientos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Asegura que en pantallas más pequeñas los elementos se acomoden */
    gap: 50px; /* Espacio entre la imagen y la lista */
    margin-bottom: 50px;
  }
  
  /* Contenedor de la imagen */
  #tratamientos .cont-tratamientos .img-container {
    background-image: url(../media/close-up-dentist-instruments.png); /* Ruta de la imagen */
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px; /* Tamaño de la imagen */
    border-radius: 10px; /* Bordes redondeados para la imagen */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  }
  
  /* Estilo de la lista de tratamientos */
  #tratamientos .tratamientos {
    max-width: 500px;
    width: 100%;
  }
  
  #tratamientos .tratamientos ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #tratamientos .tratamientos li {
    font-size: 1.5rem;
    text-align: left;
    padding: 10px 0;
  }
  
  #tratamientos .tratamientos li a {
    color: #021222;
    text-decoration: none;
    font-weight: 500;
  }
  
  #tratamientos .tratamientos li a:hover {
    color: #48e;
    text-decoration: none;
  }
  
  /* Obras Sociales */
  .obras-sociales {
    text-align: center;
    padding: 40px;
    background-color: #f8f8f8;
  }
  
  .obras-sociales h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .obras-sociales p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .prepagas, .prepagas2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Distribuir 3 columnas */
    gap: 10px; /* Espacio entre las columnas */
    justify-items: center; /* Alinea las imágenes al centro */
  }
  
  .prepagas figure, .prepagas2 figure {
    margin: 30px 0; /* Agrega espacio arriba y abajo de cada imagen */
    padding: 0;
  }
  
  .prepagas img, .prepagas2 img {
    max-width: 150px; /* Establece el tamaño máximo de las imágenes */
    width: 100%;
    height: auto; /* Mantener la proporción */
    object-fit: contain; /* Ajuste de la imagen para que se mantenga en su contenedor sin distorsionar */
  }
  
  .fin-presentacion {
    text-align: center;
    padding: 30px;
    background-color: #f1f1f1;
  }
  
  .fin-presentacion p {
    font-size: 1.5rem;
    
    line-height: 1.6;
  }
  
  @media (max-width: 768px) {
    #tratamientos .cont-tratamientos {
      flex-direction: column; /* Los elementos se apilan verticalmente en pantallas pequeñas */
      align-items: center; /* Centrar contenido en pantallas pequeñas */
    }
  
    #tratamientos .cont-tratamientos .img-container {
      width: 80%; /* La imagen ocupa el 80% del ancho en pantallas pequeñas */
      height: 200px; /* Ajusta la altura */
    }
  
    #tratamientos .tratamientos {
      width: 100%;
      max-width: 500px;
      margin-top: 20px; /* Agrega un poco de espacio entre la imagen y la lista */
    }
  
    #tratamientos h2 {
      font-size: 1.8rem; /* Ajusta el tamaño del título en pantallas pequeñas */
    }
  
    #prepagas {
      flex-direction: column; /* Apilar las imágenes verticalmente en pantallas pequeñas */
      align-items: center; /* Centrar las imágenes en la pantalla */
    }
  
    #prepagas figure {
      width: 120px; /* Ajuste del tamaño de las imágenes en pantallas pequeñas */
      height: 120px;
    }
  }